/* Colors */
:root {
  --color-default: #0a0d13;
  --color-primary: #ff9100;
  --color-secondary: #544335;
}

/* Fonts */
:root {
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: "Inter", sans-serif;
  --font-secondary: "Poppins", sans-serif;
  --font-sketch: "Cabin Sketch"
}

.MuiAutocomplete-input {
  padding-left: 20px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff00;
  z-index: 9999;
}

.particles{
  z-index: -1;
}

.logo img{
  width: 118px;
  height: 84px;
  float: left;
  margin-left: 20px;
}

.hero {
  contain: paint;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}


.meme {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}


.meme .blockMeme {
  
  color: #ffffff;
  position: sticky;
  top: 35vh;
  width: 200px;

}

.meme .blockMeme p {
  margin-top: 10px;
  text-align: center;
  font-size: 13px;
}

.meme .blockMeme img {
  
  width: 100%;
 
}


.advice1{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.advice1 p {
  text-align: center;
  color: #ffffff;
  position: sticky;
  top: 40vh;
}

.grid{
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  grid-auto-flow: column;
}

.dropdown{
  outline-color: #ff9100;  
}

.menu {
  display: flex;
  justify-content: center;
}


.text {
  margin-top: 30vh;
  width: 500px;
  text-align: center;
  font-size: large;
  color: blueviolet;
}

@media only screen and (max-width: 1000px) {
  .advice1 {
    display: none;
  }
  .meme {
    display: none;
  }
}

.text h2 {
  margin-bottom: 20px;
  font-size: 46px;
  font-weight: 700;
  color: #fff;
}

.text p {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 40px;
  color: #fff;

}

.sticky {
  
  position: sticky;
  top: 17vh;

}

.moreOption{
  margin: 10px;
  color: #5f5f5f;
  z-index: 50;
}

.error{
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: -10px;

}
.error p {
  color: rgb(190, 0, 0)
}
.moreOption input{
  padding: 8px;
  width: 120px;
  height: 30px;
  border: none;
  margin-bottom: 8px;
  box-shadow: 5px 5px 5px #ff9100;
  border-radius: 10px;
  background: #fff;
  outline: none;

}

.moreOption input:hover{
  background-color: #ffffff;
  color: grey;
  outline: none;
}

.all{
  width: 600px;
  
}

.all form {
  
  box-shadow: 5px 5px 5px #ff9100;
  z-index: 100;
  border-color: var(--color-primary);
  border-radius: 10px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;

}


.btnfont {
  font-family: var(--font-primary);
  font-style: normal;
  font-size: 15px ! important;
}

.clear-icon{
  display: flex;
  align-items: center;
}

.all form .btn-secondary {
  transition-duration: 0.4s;
  border-radius: 10px;
  border-width: 1px;
  background-color: #ff9100;
  border-color: #ff9100;
}

.all form .btn-secondary:hover {
  background-color: #ffffff;
  color: grey;
}


.reactflowCanva {

  box-shadow: 5px 5px 8px #ff9100;
  margin-bottom: 18vh;
  width: 600px;
  background: #ffffff;
  height: 50vh;
  border: solid;
  border-color: var(--color-primary);
  border-radius: 10px;

}

.inline {
  display: inline-block;
}