<html lang="fr">
<head>
    <title> BIO4T</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "search/style.css" %}" media="screen" type="text/css" />
    <link rel="icon" href="../../static/search/logo.png">
    <meta charset="utf-8"/>
</head>
<body>

    <nav class="topnav">
        <a class="button_topnav" href="/search">Home</a>
        <p class="title_topnav">BIO4T Project</p>
    </nav>

    <form action="workflow_query" method="post">
        <h3>Workflow search</h3>
        {% csrf_token %}
        {{ workflowForm.as_p }}
        <br/>
        <input type="submit" value="Search" name="workflow_query">
    </form>

    <form action="any_query" method="post">
        <h3>Cypher request</h3>
        {% csrf_token %}
        {{ queryForm.as_p }}
        <br/>
        <input type="submit" value="Send query" name="run_any_query">
    </form>
</body>
</html>